  .apples {
    height: 50px;
    width: 500px;
    background-color: #80aaff;
    border-style: solid;
    border-width: 2px;
  }
  .bananas {
    height: 50px;
    width: 300px;
    background-color: #ff99ff;
    border-style: solid;
    border-width: 2px;
  }
  .oranges {
    height: 50px;
    width: 400px;
    background-color: #ffaa80;
    border-style: solid;
    border-width: 2px;
  }
  .cherries {
    height: 50px;
    width: 100px;
    background-color: #ffff80;
    border-style: solid;
    border-width: 2px;
  }
  .apples:hover {
    background-color: #ffffff;
    cursor: help;
    border-width: 3px;
  }
  .bananas:hover {
    background-color: #ffffff;
    cursor: help;
    border-width: 3px;
  }
  .oranges:hover {
    background-color: #ffffff;
    cursor: help;
    border-width: 3px;
  }
  .cherries:hover {
    background-color: #ffffff;
    cursor: help;
    border-width: 3px;
  }